
.main-content {
    display: flex;
    flex-direction: column;
    background-color: #E1EAEB;
}

.simple,
.options {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input,
.textarea,
.selection {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: #364B4E;
    border-color: #364B4E;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 10%;
}

.button:hover {
    background-color: #4c676b;
}


.task-details {
    margin: 5%;
    border: 2px solid #364B4E;
    border-radius: 10px;
    padding-left: 5%;
    padding-bottom: 5%;
}