.projects-list {
    display: flex;
    flex-direction: column; /* Aligns children vertically */
    flex-grow: 1; /* Allows the element to grow to occupy all available space */
    background-color: #F5A623; /* Vivid Orange */
    gap: 1.5em;
    padding: 2em;
}


.project-card {
    flex: 0 1 30%; /* Adjust the 30% to control the card width */
    background-color: #FFC107; /* Example: Amber */
    color: #333333; /* Dark text for contrast */
    border: 1px solid #000000; /* Optional: Adds a white border for contrast */
    padding: 1em; /* Optional: Adds padding inside each card */
    border-radius: 5px; /* Optional: Rounds the corners of the cards */
}