html, body {
    height: 100%; /* Ensures the full height of the viewport is used */
    margin: 0;   /* Removes default margin */
    padding: 0;  /* Removes default padding */
}

.container {
    display: grid;
    grid-template-columns: 1fr 7fr; /* Ratio between sidebar and main content */
    grid-template-rows: 100px 1fr;  /* Taller header and the rest for main content and sidebar */
    height: 100vh; /* Sets the container to fill the viewport height */
}

.dashboard-header {
    grid-area: 1 / 1 / 2 / -1; /* Spans full width */
    background-color: aquamarine;
    display: flex; /* Enables Flexbox */
    align-items: center; /* Vertically centers items in the header */
    justify-content: space-between; /* Spaces out items evenly */
    padding: 0 10px; /* Optional: Adds padding on the sides */
}


/* The side navigation menu */
.sidebar {
    grid-area: 2 / 1 / -1 / 2;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.main-content {
    grid-area: 2 / 2 / -1 / -1;
}