.container {
    display: grid;
}

.container * {

}

.dashboard-header {
    grid-area: 1 / 1 / span 1 / span 2;
    background-color: aquamarine;
}

.sidebar {
    grid-area: 2 / 1 / span 1 / span 1;
    background-color: blanchedalmond;
}

.main-content {
    grid-area: 2 / 2 / span 1 / span 2;
    background-color: blue;
}